[Desktop Entry]
Type=Application
Name=ConvalGEN
Comment=Constraint-based grammar analysis
Exec=convalgen %F
TryExec=convalgen
Icon=org.convalgen.app
Terminal=false
Categories=Education;Science;Languages;
MimeType=application/vnd.convalgen.analysis+json;text/x-phont;
StartupNotify=true
